<div class="w3-display-topright">
<button onclick="window.location.href='/'" id="profileBtn" class="w3-button">Profile</button>
<button id="logout" class="w3-button">Logout</button>
</div>

<div class="w3-row align-right">
    <div class="w3-rest"></div>
    <div class="w3-col m2 w3-right" style="color:#fff">.</div>
 

</div>

<div class="w3-row">
    <div class="w3-col w3-left m1" style="color:#fff"><p>.</p></div>
    <div class="w3-col w3-right m1" style="color:#fff"><p>.</p></div>
    <div class="sticky w3-col m6">
        <div class="w3-container">
    
            <div class="card" style="margin-right:20px">
                <div class="w3-row" style="background-color:#7c7c7c; color: #fff">
                    <div class="w3-col m10 w3-left"><h2 class="left-align" style="padding:10px">{{title}}</h2></div>
                    <div id="tag_con" class="w3-col m2 w3-right"><img src="{{tag.filename}}" height="100vh" /></div>
                </div><br />

                <div class="card-body">
                    <p class="card-text" style="text-align:left; padding-left:20px; padding-right:20px">{{content}}</p>
                </div>
                <br /><br />
                {{!-- <div class="card-footer text-muted"> --}}
                    <div class="gc-{{user.color}}" style="padding-right:10px; height:4% !important; text-align:right">
                    Posted by {{user.username}}
                    on {{format_date createdAt}} at {{format_time createdAt}}
                    </div>

                {{!-- </div> --}}
            </div>

            <br />
            <hr>
            
            <form id="comment-form">
                <h3 style="text-align:left;">Post a Comment below:</h3>
                <textarea id="comment-text-area" style="min-width: 500px; min-height:200px; text-align:left; padding:5px" placeholder="Type a comment or response here!"></textarea>
                <br /><br />
                <button id="comment-submit" data-id="{{id}}">Submit Comment</button>
            </form>
        <br><br>
        </div>
    </div>

    <div class="w3-col m4">
        {{#if Comments}}
        <h3 style="text-align:left;">Comments and Thoughts</h3>
        {{#each Comments as |comment|}}
            
            <div class="w3-card-4" style="">

                <div class="w3-row w3-container gc-{{comment.user.color}}" style="height:4%;">
                    <div class="w3-col m7 s7"><h3 class="left-align">{{comment.user.username}}</h3></div>
                    <div class="w3-col m5 s5" style="margin-top:6px"><span style="text-align:right; font-size:12px;">{{format_date comment.createdAt}} at {{format_time comment.createdAt}}</span></div>
                    {{!-- <span style="text-align:right;">{{format_date comment.createdAt}} at {{format_time comment.createdAt}}</span> --}}
                </div>

                <div class="w3-container m4">
                    <p class="left-align" style="padding-bottom:10px; white-space:pre-wrap;">{{comment.content}}</p>
                </div>

            </div>
            <hr>
        {{/each}}
        {{else}}
            <div class="w3-card-4">
                <div class="w3-row w3-container w3-red" style="height:4%;">
                <div class="w3-col m9"><h3 class="left-align">No comments on this post yet!</h3></div>
                </div>

                <div class="w3-container m4">
                    <p class="left-align">Be the first!</p>
                </div>

            </div>
        {{/if}}

       
    </div>
</div>
<br><br>

{{!-- <link rel="stylesheet" href="../public/css/post.css"> --}}
<script src="/js/post.js"></script>
<script src="/js/logout.js"></script>