<div class="row">
  <div class="card">
    <div class="card-header">{{title}}</div><br />
    <div class="card-body">
      <p class="card-text">
        {{content}}
      </p>
    </div><br /><br />
    <div class="card-footer text-muted">
      Posted by
      {{user.username}}<br />
      on
      {{createdAt}}
    </div>
  </div>
</div>
<br />
<div class="w3-row">
  <form id="comment-form">
    <textarea
      id="comment-text-area"
      style="min-width: 400px; min-height:200px; text-align:left;"
    ></textarea><br /><br />
    <button id="comment-submit" data-id="{{id}}">Submit Comment</button>
  </form>
</div>

{{#each Comments as |comment|}}
  <div class="row">
    <div class=""><br />
      <div class="card-body"><br />
        <p class="card-text">{{comment.content}}</p>
      </div>
      <div class="card-footer text-muted">
        Posted by
        {{comment.user.username}}
        on
        {{comment.createdAt}}
      </div>
    </div>
  </div>
{{/each}}<br /><br />

<script src="/js/post.js"></script>