    <div class="">
      <header class="">
        <h1>Geek Connection</h1>
      </header>
      <main class="container grid-container">
        <div class="grid-item grid-item-1">
          <h2 id="welcome">Welcome, {{name}}!</h2>
        </div>
        <div class="profile grid-item grid-item-2">
          <section class="card">
            <h2>Profile</h2>
            <img
              src="/public/images/chinese_zodiac_dragon_color.svg"
              alt="profile avatar"
              width="30%"
              height="30%"
            />
            <h3>{{name}}</h3>
            <h3>{{category_name}}</h3>
            <h4>{{tag_name}}</h4>
          </section>
        </div>
        <section id="matched-users grid-item grid-item-3">
          {{#each user as |user|}}
          <div class="card">
            <h3>{{name}}</h3>
            <div>
              <h4>{{category_name}}</h4>
            </div>
            <div>
              <h5>{{tag_name}}</h5>
            </div>
            <button type="button" class="like-button">like</button>
            <button type="button" class="comment-button">comment</button>
          </div>
        </section>
      </main>
    </div>